.ace_editor {
    position: absolute !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.left {
    right: 50%;
}

.right {
    left: 50%;
}

.loader {
    display: none;
    z-index: 1;
    position: absolute;
    top: 2px;
    right: 18px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-top-color: #fff;
    -webkit-animation: rotate 0.5s infinite linear;
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}